<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header-admin') %> 
    <main class="main-carga-productos-panel">
        <h2 class="carga-productos-panel-adm">Carga de productos</h1>
            <h4 class="nuevo-producto-panel-adm">Nuevo producto</h3>
                <form action="/admin/agregarProducto" method="POST" enctype="multipart/form-data">
                <div class="carga-form-productos" >
                    <div class="container-productos-carga-individual">
                        <input class="producto-individual-carga" type="text" name="name" placeholder="Modelo" />
                        <select name="brand_id" id="categorias" class="form-input">
							<option selected hidden value="">Marca</option>
                                <% brand.forEach(element => { %>
                            <option value="<%- element.id %>" <%= locals.old && old.element == element.id ? "selected" : "" %> ><%- element.name %></option>
                                <% }) %>
						</select>
                        <input type="text" class="producto-individual-carga" name="discount" placeholder="Descuento"/>
                        <select name="category_id" id="categorias" class="form-input">
							<option selected hidden value="">Categorias</option>
                                <% category.forEach(element => { %>
                            <option value="<%- element.id %>" <%= locals.old && old.element == element.id ? "selected" : "" %> ><%- element.name %></option>
                                <% }) %>
						</select>
                        <input type="text" class="producto-individual-carga" name="price" placeholder="Precio"/>
                        
                        
                    </div>
                    <p id="desc-producto-carga-productos">Descripcion del producto</p>
                    <textarea class="desc-product-text-area" name="description" id="" ></textarea>
                    <p class="add-file-img-carga-products">Agregar archivos de imagen</p>
                    <div class="container-img-products-carga-end">
                        <input  class="buttonForm" type="file" id="file" name="product-image" multiple accept=".jpg,.png" /><br><br>
                        <div id="submit-fn">
                            <button type="submit" id="btn-submit-finalizar-edit">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
                </main>
            </body>
            </html>