<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header-admin') %> 
    <main class="main-carga-productos-panel">
        <h2 class="carga-productos-panel-adm">Carga de productos</h1>
            <h4 class="nuevo-producto-panel-adm">Nuevo producto</h3>
                <form id="form" action="/admin/agregarProducto" method="POST" enctype="multipart/form-data">
                    
                <div class="carga-form-productos" >
                    <div class="container-productos-carga-individual">
                        <label class="producto-individual-label" for="name">Modelo</label>
                        <input id="inputName" class="producto-individual-carga" type="text" name="name" placeholder="Ej: Auricular I7" />
                        

                        <label class="producto-individual-label" for="color">Color</label>
                        <input class="producto-individual-carga" type="text" name="color" placeholder="Ej: Negro" />
                       

                        <label class="producto-individual-label" for="marca">Marca</label>
                        <select name="brand_id" id="marca" class="form-input">
							<option selected hidden value="">Marca</option>
                                <% brand.forEach(element => { %>
                            <option value="<%- element.id %>" <%= locals.old && old.element == element.id ? "selected" : "" %> ><%- element.name %></option>
                                <% }) %>
						</select>
                    
                        <label class="producto-individual-label" for="discount">Descuento</label>
                        <input id="descuento" type="text" class="producto-individual-carga" name="discount" placeholder="Ej: 10"/>
                        
                    
                        <label class="producto-individual-label" for="categorias">Categorias</label>
                        <select name="category_id" id="categorias" class="form-input">
                            <option selected hidden value="">Categorias</option>
                            <% category.forEach(element => { %>
                                <option value="<%- element.id %>" <%= locals.old && old.element == element.id ? "selected" : "" %> ><%- element.name %></option>
                                <% }) %>
                        </select>
                    
                        <label class="producto-individual-label" for="price">Precio</label>
                        <input id="precio" type="text" class="producto-individual-carga" name="price" placeholder="Ej: 7000"/>
                        <!--  <span id="precioErrors"></span> -->
                        
                    </div>
                    <p id="desc-producto-carga-productos">Descripcion del producto</p>
                    <textarea class="desc-product-text-area" name="description" id="" ></textarea>
                    

                    <p class="add-file-img-carga-products">Agregar archivos de imagen
                    <div class="container-img-products-carga-end">
                        <input  class="buttonForm" type="file" id="file"  name="product-image" multiple accept=".jpg,.png" /><br><br>
                        <div class="box-2 mt-3" >
                            <div class="img-container" id="img-preview">
                                
                            </div>
                    </p>
                        <span class="error" id="fileErrors"></span>
                        <span  class="error" id="precioErrors"></span>
                        <span class="error" id="nameErrors"></span>
                        <span class="error" id="descuentoErrors"></span>
                        <span class="error" id="categoriasErrors"></span>
                        <span class="error" id="marcaErrors"></span>
                        <span class="error" id="fileErrors"></span>
                        <span class="error" id="submitErrors"></span>
                        <div id="submit-fn">
                            <button type="submit" id="btn-submit-finalizar-edit">Finalizar</button>
                        </div>

                    </div>
                <div class="errores">
                    <% if (locals.errors && errors.name) { %>
                        <small  class="error"><%= errors.name.msg %> </small>
                    <% } %>
                    </div>
                </div>
            </form>
                </main>
                <script src="/javascript/validationCargaProductos.js"></script>
            </body>
            </html>