<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header-admin') %> 
    <main class="main-carga-productos-panel">
        <h2 class="carga-productos-panel-adm">Editando Usuario <%= users.id  %> </h1>
            <h4 class="nuevo-producto-panel-adm">Usuario</h3>
                <form action="/admin/user/<%= users.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
                <div class="carga-form-productos" >
                    <div class="container-productos-carga-individual">
                        <input class="producto-individual-carga" type="text" placeholder="Nombre" disabled name="nombre" value="<%= users.nombre %>" />
                        <input class="producto-individual-carga"type="text" placeholder="Apellido" disabled name="apellido" value="<%= users.apellido %>">
                        <input type="email" class="producto-individual-carga" placeholder="Email" disabled name="email" value="<%= users.email %>">
                        <label for="administrador">Admin: <select name="admin" id="administrador" class="form-input">
							<option value="1" <%= users.rol_user === true ? "selected" : ""%> >Si</option>
							<option value="0"<%= users.rol_user === false ? "selected" : ""%> >No</option>	
						</select></label>
                        
                       
                    </div>
                    <!-- <p id="desc-producto-carga-productos">Descripcion del producto</p>
                    <textarea class="desc-product-text-area" name="descripcion" id="descripcion" ></textarea> -->
                    <p class="add-file-img-carga-products">Avatar del usuario</p>
                    <div class="container-img-products-carga-end">
                        <img src="/images/<%= users.image %> " width="200px" height="200px" alt="">
                        <div id="submit-fn">
                            <button type="submit" id="btn-submit-finalizar-edit">Finalizar</button>
                        </div>
                    </div>                  
                </div>
            </form>
                </main>
            </body>
            </html>