<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header-admin') %> 
    <main class="main-carga-productos-panel">
        <h2 class="carga-productos-panel-adm">Editando producto <%= product.name  %> </h1>
            <h4 class="nuevo-producto-panel-adm">Producto</h3>
                <form action="/admin/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="carga-form-productos" >
                    <div class="container-productos-carga-individual">
                        <label class="producto-individual-label" for="name">Nombre</label>
                        <input class="producto-individual-carga" type="text" placeholder="Modelo" name="name" value="<%= product.name %>" />
                        <label class="producto-individual-label" for="brand_id">Marca</label>
                        <input class="producto-individual-carga"type="text" placeholder="Marca" name="brand_id" value="<%= product.brand_id %>">
                        <label class="producto-individual-label" for="discount">Descuento</label>
                        <input type="text" class="producto-individual-carga" placeholder="Descuento" name="discount" value="<%= product.discount %>">
                        <!--  -->
                        <label class="producto-individual-label" for="price">Precio</label>
                        <input type="text" class="producto-individual-carga" placeholder="Precio" name="price" value="<%= product.price%>">
                    </div>
                    <div class="container-text-area">
                        <p id="desc-producto-carga-productos">Descripcion del producto</p>
                        <textarea class="desc-product-text-area" name="description" id="descripcion" ><%= product.description %></textarea>
                    </div>
                    <p class="add-file-img-carga-products">Agregar archivos de imagen</p>
                    <div class="container-img-products-carga-end">
                        <input  class="buttonForm" type="file" id="file" name="product-image" multiple /><br><br>
                        <div id="submit-fn">
                            <button type="submit" id="btn-submit-finalizar-edit">Finalizar</button>
                        </div>
                    </div>                  
                </div>
            </form>
                </main>
            </body>
            </html>