<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body class="body-product">
    <%- include('partials/header')  %> 
        <main class="main-product maxwidth">
            <%- include('partials/ul') %> 
            <section class="cards-product">
               <% products.forEach(product => { %>
                
                    <article class="product-item">
                    <div class="img-article">
                        <img src="/images/<%- product.images_product[0].name %>" alt="">
                    </div>
                    <div class="description-product">
                        <h4><% if(product.name.length > 19){ %>
                            <% let nameSlice = product.name.slice(0,19) %>
                            <%= nameSlice %>
                        <% }else{ %> 
                    <%= product.name %> 
                <% } %> </h4>
                        <P>$<%- product.price %></P>
                        <p>descuento: <strong>%<%- product.discount %></strong></p>
                        <button class="btn-product"><a href="/products/detalle/<%- product.id %>">Ver producto</a></button>
                    </div>
                </article>
            </a>
               <% }) %> 
               
            </section>
        </main>
        <%- include('partials/footer')  %> 
    </body>
    </html>