<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    
    <%- include('partials/header-admin') %> 

    <div class="containerEdit">
      <div class="titleSearch">
        <h1>Editar o eliminar producto</h1>
        <div class="searchContainer">
          <input type="search" name="buscador" id="search" placeholder="Buscar" />
          <a href="#"><i class="fas fa-search"></i></a>
        </div>
      </div>
      <% users.forEach(user => { %>
       
      <div class="cardProduct">
        <div class="image">
          <img src="/images/users/<%= user.image%> " alt=""/>
        </div>

        <div class="description">
          <p>Nombre: <%= user.nombre%></p>
          <p>Apellido : <%= user.apellido %></p>
          <p>email: <%= user.email.slice(0,20) %> </p>
          <% if (user.rol_user == 0) { %>
            <p>Admin : No</p>
          <% }else{%>
             <p>Admin : si</p>
             <% } %>
         
        </div>

        <div class="containerBtns">
          <a href="/admin/user/<%= user.id %> ">Editar</a>
          <form action="/admin/deleteUser/<%= user.id %>?_method=DELETE" method="POST">
            <button type="submit">Eliminar</button>
          </form>
         
        </div>
      </div>
        <% }) %>
      
    </div>
  </body>
</html>
