<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header') %> 
    <main>
      <!-- Title -->
      <div class="titleForm">
        <h3>FORMULARIO DE REGISTRO</h3>
        <p>Completá los siguientes datos para registrarse en nuestro sitio.</p>
      </div>
      <!-- Title -->

      <section class="contentForm">
        <!-- Image Logo -->
        <div class="logoForm">
          <img src="/images/logo-principal.png" alt="logo extreme-tech" />
        </div>
        <!-- Image Logo -->

        <!-- Form -->
        <div class="dataForm">
          <form class="containerForm" action="/user/register" method="POST">
            <div>
              <legend>Datos de cuenta</legend>
              <label for="email">E-mail</label>
              <input type="email" name="email"  value="<%= locals.old && old.email %>"/>
              <% if (locals.errors && errors.email) { %>
                <small class="error"><%= errors.email.msg %> </small>
              <% } %>
              <label for="contraseña">Contraseña</label>
              <input type="password" name="password"/>
              <% if (locals.errors && errors.password) { %>
                <small class="error"><%= errors.password.msg %> </small>
              <% } %>
              <label for="repetir contraseña">Repetir contraseña</label>
              <input type="password" name="repeatPassword"/>
              <% if (locals.errors && errors.repeatPassword) { %>
                <small class="error"><%= errors.repeatPassword.msg %> </small>
              <% } %>
            </div>
            <hr />
            <div>
              <legend>Datos Personales</legend>
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" value="<%= locals.old && old.nombre %> " />
              <% if (locals.errors && errors.nombre) { %>
                <small class="error"><%= errors.nombre.msg %> </small>
              <% } %>
              <label for="apellido">Apellido</label>
              <input type="text" name="apellido" value="<%= locals.old && old.apellido %>" />
              <% if (locals.errors && errors.apellido) { %>
                <small class="error"><%= errors.apellido.msg %> </small>
              <% } %>
              <label for="telefono">Telefono</label>
              <input type="tel"  name="telefono" value="<%= locals.old && old.telefono %>" />
              <% if (locals.errors && errors.telefono) { %>
                <small class="error"><%= errors.telefono.msg %> </small>
              <% } %>
            </div>
            <div class="containerBtn">
              <button class="buttonForm" type="submit">Registrarme</button>
            </div>
          </form>
        </div>
        <!-- Form -->
      </section>
    </main>
    <%- include('partials/footer')  %> 
  </body>
</html>
