<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main class="containerUserProfile">
        <h1>Mis datos</h1>

        <div class="imageProfile">
            <div class="avatar">
                <img src="/images/users/<%= user.image %> " alt="" width="150px"></div>
            
        </div>

        <div class="data">
            <h3>Datos de cuenta</h3>
            <div>
                <p>E-mail</p>
                <p><%= user.email %></p>
            </div>

            <div>
              <p>Cambiar Contraseña</p>
              <p>**********</p>
          </div>
        </div>

        <div class="data">
            <h3>Datos personales</h3>
            <div>
                <p>Nombre</p>
                <p><%= user.nombre %></p>
            </div>
            <div>
              <p>Apellido</p>
              <p><%= user.apellido %></p>
            </div>
            <div>
                <p>Documento</p>
                <p><%= user.documento %></p>
            </div>
            <div>
                <p>Teléfono</p>
                <p><%= user.telefono %></p>
            </div>
        </div>

        <a href="/user/edit/<%= user.id %> " class="btnProfile">Editar perfil</a>
    </main>

    <%- include('partials/footer') %>
</body>
</html>